<a ui-sref="newJob" class="btn-primary btn-lg nodecoration">Add New Job</a>

<table class="table jobtable">
  <tr>
    <td><h3>All Jobs</h3></td>
    <td></td>
  </tr>
  <tr ng-repeat="job in jobs">
    <td>{{job.title}} - {{job.url}} - {{job.position}} ID: {{job.id}} </td>
    <td>
      <a class="btn btn-primary" ui-sref="editJob({id:job.id})">Edit</a>
      <!-- <a class="btn btn-primary" ui-sref="viewJob({id:job.id})">View</a> -->
      <a class="btn btn-danger"  ng-click="deleteJob(job)">Delete</a>
    </td>
  </tr>
</table>
