<!--Animation from night to day symbolizes Regenerate's mantra-->

<div class="day">
  <div class="night"></div>
</div>
<div class="pattern"></div>
<div class="logo">
  <%= image_tag "logo.png" %>
</div>

