<table class="table jobtable">
  <tr ng-repeat="job in jobs">
    <td ng-click="activeJob(job)">{{job.title}} - {{job.url}} - {{job.position}} ID: {{job.id}}</td>
    <td><button class="btn btn-danger" ng-click="delete(job)">Delete</button></td>
  </tr>
</table>

<h3 ng-if="!editing">New Job</h3>
<h3 ng-if="editing">Edit Job</h3>
<form ng-submit="save(job)">
  <label for="job.title">Title</label>
  <input ng-model="job.title">
  <label for="job.url">url</label>
  <input ng-model="job.url">
  <label for="job.position">position</label>
  <input ng-model="job.position">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<button ng-if="editing" class="btn btn-success" ng-click="newJob()">New Job</button>
