<div class="jc-nav">
  <span class="list-icon fontawesome-angle-right"></span>
  <div ng-repeat="job in jobs">
    <ul>
      <li>{{job.title}}</li>
      <li>{{job.url}}</li>
      <li><img src="{{job.imge}}" /></li>
  </div>
</div>
