<div id="nav">
  <div  class="job-item" ng-repeat="job in jobs" ng-mouseover="showJob(job)" ng-click="clickJob()">
    <div class="job-icon"><img src="{{job.icon}}" />
      <p>{{job.title}}</p>
      <div class="bottom"></div>
    </div>
  </div>
</div>

<!--
<div id="job-show">
  <h1>{{job.title}}</h1>
  <div id="showcase">
    <div class="image">
      <img class="iphone" src="{{job.image}}" alt="job image" />
    </div>
  </div>
  <h3><a href="{{job.url}}">{{job.url}}</a></h3>
</div>
 -->

