<div class="jc-nav">
  <span class="list-icon fontawesome-angle-right"></span>
  <div ng-repeat="item in itemCtrl">
    <ul>
      <li>{{item.name}}</li>
      <li>{{item.url}}</li>
      <li><img src="{{item.imge}}" /></li>
  </div>
</div>
