<div class="jc-nav">
  <span class="list-icon fontawesome-angle-right"></span>
  <div  class="job-item"
        ng-repeat="job in jobs"
        ng-mouseover="showJob(job)"
        ng-click="clickJob()">
    <ul>
      <li>{{job.title}}</li>
      <li>{{job.url}}</li>
  </div>
</div>
 <div id="job-show">
    <h1>{{job.title}}</h1>

    <div id="showcase">
      <div class="image">
        <img class="iphone" src="{{job.image}}" alt="job image" />
        <!-- <img class="imac"  src="http://f.cl.ly/items/45402t123h0r3P2e2c37/iMac.png" width="450px" alt="" /> -->
      </div>
    </div>

    <h3><a href="{{job.url}}">{{job.url}}</a></h3>


      <!-- <li><img src="{{job.imge}}" /></li> -->
  </div>

