/*================================
          body
================================*/
body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

nav{
  margin: 0px;
}
/*================================
          Background
================================*/
.container-fluid {
  margin:0;
  padding:0;
}

.pattern {
width:100%;
height:100vh;
background-color: #eee;
background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
background-size:3px 3px;
  position:fixed;
  opacity:.05;
  z-index:-995;
}
.day {
  width:100%;
  height:100vh;
  background: url(image_path("citylights-day.jpg"));
  position:fixed;
  background-position:top center;
  background-size:cover;
  background-repeat:no-repeat;
  z-index:-999;
}
.night {
  width:100%;
  height:100vh;
  background: url(image_path("citylights-nights.jpg"));
  background-position:top center;
  background-size:cover;
  background-repeat:no-repeat;
  z-index:-998;
    -webkit-animation: time 10s linear infinite;
    animation: time 10s linear infinite;
}
/*================================
          Header
================================*/

.logo-img {
  position: absolute;
  width:56.66%;
  top:30%;
  right: 40px;
  opacity:.4;
}

/*================================
            PAGE
================================*/
#page-container {
  background: #fff;
  background: -moz-linear-gradient(top,  #fff 0%, #ddd 97%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(97%,#ddd));
  background: -webkit-linear-gradient(top,  #fff 0%,#ddd 97%);
  background: -o-linear-gradient(top,  #fff 0%,#ddd 97%);
  background: -ms-linear-gradient(top,  #fff 0%,#ddd 97%);
  background: linear-gradient(to bottom,  #fff 0%,#ddd 97%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ddd',GradientType=0 );

  height: 100vh;
  #page-nav{
    #nav {
      position: absolute;
      width: 70%;
      right: 0px;
      transition: width 0.4s;
      ul {
        list-style-type: none;
        &:hover {
          background: rgba(0,0,0,0.2);
        }
        li {
        }
      }
    }
  }
  #main-page {
    box-shadow: #000 0px -1px 7px;
    height: 100vh;
    width: 100%;
    position: relative;
    float: right;
    z-index: 1;
    transition: width 0.5s;
  }
}



/*================================
          Jobs CRUD
================================*/
#jobs{
  position: relative;
  z-index: 9;
  background: rgba(255,255,255,0.7);
}


/*================================
          Animations
================================*/
@-webkit-keyframes time {
    0%   {opacity: 100;}
    33%  {opacity: 0;}
    66%  {opacity: 0;}


}
@keyframes time {
    0%   {opacity: 100;}
    33%  {opacity: 0;}
    66%  {opacity: 0;}
}


/*================================
            Arrows
================================*/
.arrow {
  position: absolute;
  padding: 3rem; /* Arrow size */
  top: 40%;
  box-shadow: 1px -1px 0 1px plum inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  transition: 0.2s;
  z-index: 2;
}

.arrow:hover {
          box-shadow: 2px -2px 0 2px orchid inset;
  -webkit-box-shadow: 4px -4px orchid inset;
}

.arrow-up    { transform:rotate(135deg) }
.arrow-right { transform:rotate(225deg) }
.arrow-down  { transform:rotate(-45deg) }
.arrow-left  { transform:rotate(45deg) }


/*================================
        Job Showcase
================================*/
#show-job{
  position: absolute;
  left: 50%;
  width: 620px;
}
.job {
  height: 100vh;
  left: -50%;
  position: relative;
  .title {
    h1{
      color: white;
      text-align: center;
      margin: 0px;
      padding: 10px;
    }
  }
  .url {
    margin-bottom: 20px;
    a {
      text-align: center;
      padding: 10px 0px;
      color: #333;
      background: #fff;
      width: 100%;
      display: block;
      text-decoration: none;
      &:hover {
        background: #ddd;
      }
    }
  }
}


.phone {
  left: 110px;
  z-index: 1;
  top: 23px;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 80px;
  background: #bbbbbb;
  border: 4px solid #333333;
  border-top: 12px solid #333333;
  border-bottom: 13px solid #333333;
  border-radius: 4px;
  box-shadow: inset px 3px 0px 0.03px rgba(0, 0, 0, 0.7);
}

.phone:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 35px solid rgba(255, 255, 255, 0.2);
  border-bottom: 54px solid transparent;
}

.phone:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  background: #888888;
  border-radius: 50%;
}

.monitor {
  left: 80px;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  width: 300px;
  height: 180px;
  background: #bbbbbb;
  border-bottom: 25px solid #dddddd;
  border-radius: 6px;
  box-shadow: inset 0 0 0 12px #333333;
  img{
    position: absolute;
    left: 12px;
    top: 12px;
    width: 276px;
    height: 156px;
  }
}

.monitor:before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  margin-left: -7px;
  width: 13px;
  height: 13px;
  background: #444444;
  border-radius: 50%;
}

.monitor:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  border-left: 114px solid rgba(255, 255, 255, 0.2);
  border-bottom: 150px solid transparent;
}


.stand {
  position: absolute;
  bottom: -53px;
  left: 50%;
  margin-left: -43px;
  width: 82px;
  height: 4px;
  background: #aaaaaa;
}

.stand:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  margin-left: -31px;
  width: 55px;
  border-bottom: 24px solid #bbbbbb;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.laptop {
  top: 12px;
  left: 20px;
  display: inline-block;
  position: relative;
  margin-left: 20px;
  width: 195px;
  height: 120px;
  background: #bbbbbb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  box-shadow: inset 0 0 0 7px #333333;
}

.laptop:before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -105px;
  bottom: -6px;
  width: 210px;
  height: 5px;
  background: #d4d4d4;
  border-bottom: 2px solid #888888;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.laptop:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  border-left: 35px solid rgba(255, 255, 255, 0.2);
  border-bottom: 48px solid transparent;
}

.laptop-bits {
  position: absolute;
  left: 50%;
  top: 1px;
  margin-left: -2px;
  width: 3px;
  height: 3px;
  background: #999999;
  border-radius: 50%;
}

.laptop-bits:after {
  content: "";
  position: absolute;
  top: 118px;
  margin-left: -10px;
  width: 30px;
  height: 3px;
  background: #999999;
}





